<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <main>
      <div>
        <h1>
          <button class="back-button" onclick="history.back()">&#8701;</button
          ><%= message %>
        </h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
      </div>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
