<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <main>
      <h1><%= title %></h1>
      <form method="post" action="/users/image" enctype="multipart/form-data">
        <p>
          <label for="image">Image:</label>
          <input
            type="file"
            name="avatar"
            id="avatar"
            value="<%if (locals.old && old.avatar) {%><%= old.avatar %><%}%>"
          />
            <% if (locals.errors && errors.avatar) { %>
            <div class="error-message"><%= errors.avatar.msg %></div>
            <% } %>
        </p>
        <p>
          <input type="submit" value="Upload" />
        </p>
      </form>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
