<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <a href="/"
          ><img src="/images/logo.jpg" alt="avatar" class="avatar"
        /></a>
      </div>
      <div class="card-heading"></div>
      <div class="card">
        <h2 class="card-heading">
          Log In
          <small>Bem vindo</small>
        </h2>
        <form class="card-form" method="post" action="/users/login">
          <div class="input">
            <input
              type="text"
              class="input-field"
              name="username"
              id="username"
              required
              autocomplete="on"
              value="<%if (locals.old && old.username) {%><%= old.username %><%}%>"
            />
            <label class="input-label">Usuário</label>
          </div>
          <% if (locals.errors && errors.username) { %>
          <div class="error-message"><%= errors.username.msg %></div>
          <% } %>
          <div class="input">
            <input
              type="password"
              class="input-field"
              name="password"
              id="password"
              required
              autocomplete="on"
              value="<%if (locals.old && old.password) {%><%= old.password %><%}%>"
            />
            <label class="input-label">Senha</label>
          </div>
          <% if (locals.errors && errors.password) { %>
          <div class="error-message"><%= errors.password.msg %></div>
          <% } %>
          <div class="action">
            <button class="action-button">Entrar</button>
          </div>
          <% if (locals.errors && errors.validation) { %>
          <div class="error-message text-center">
            <%= errors.validation.msg %>
          </div>
          <% } %>
        </form>
        <div class="card-info">
          <p>
            Não tem uma conta?
            <a href="/users/register">Registrar</a>
          </p>
        </div>
      </div>
    </div>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
