<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
    <link href="/stylesheets/history.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <main>
      <h1>
        <button class="back-button" onclick="history.back()">&#8701;</button
        >Pedido #<%= locals.orderDetail.order.id %>
      </h1>
      <div class="history-container">
        <div class="stepper">
          <a href="/users/history/<%= orderDetail.order.id %>/shipping">
            <div class="step past">1 - Envio</div></a
          >
          <div class="step-line"></div>
          <a href="/users/history/<%= orderDetail.order.id %>/payment">
            <div class="step past">2 - Pagamento</div></a
          >
          <div class="step-line"></div>
          <div class="step active">3 - Confirmação</div>
        </div>
        <%if (locals.orderDetail.length != 0) {%>
        <div class="history-product-container">
          <table>
            <tr>
              <th class="past">Id do Pedido</th>
              <th class="past">Preço</th>
              <th class="past">Tipo de Entrega</th>
              <th class="past">Status</th>
            </tr>
            <tr>
              <td>#<%= orderDetail.order.id %></td>
              <td>R$ <%= orderDetail.order.total %></td>
              <td>
                <%= orderDetail.order.expressShipping ? "Expressa (+ R$ 15,00)"
                : "Ecônomica (+ R$ 5,00)" %>
              </td>
              <td><%= orderDetail.order.status %></td>
            </tr>
          </table>
        </div>
        <div class="history-product-container">
          <table>
            <tr>
              <th class="past">Nome do Destinatário</th>
              <th class="past">Endereço de Entrega</th>
              <th class="past">Cidade</th>
              <th class="past">Estimativa de Entrega</th>
            </tr>
            <tr>
              <td><%= orderDetail.order.shippingRecipient %></td>
              <td><%= orderDetail.order.shippingAddress %></td>
              <td><%= orderDetail.order.shippingCity %></td>
              <td>
                <%= orderDetail.order.expressShipping ? `3 a 5 dias úteis` : `4
                a 10 dias úteis` %>
              </td>
            </tr>
          </table>
        </div>
        <div class="history-product-container">
          <table>
            <tr>
              <th class="past">Método de Pagamento</th>
              <th class="past">Valor Total do Pedido</th>
            </tr>
            <tr>
              <td>
                <%= orderDetail.order.creditCardPayment ? `Crédito` : `Débito
                (-10%)` %>
              </td>
              <td>
                <strong>R$ <%= orderDetail.order.orderFinalTotal %></strong>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-heading">Produtos</div>
        <div class="history-product-container">
          <table>
            <tr>
              <th>Nome</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th>Total</th>
              <th>Anúncio</th>
            </tr>
            <% orderDetail.productsData.forEach(function(product) { %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.quantity %></td>
              <td class="fit-content">R$ <%= product.price %></td>
              <td class="fit-content">
                <strong
                  >R$ <%= (product.quantity * product.price).toFixed(2)
                  %></strong
                >
              </td>
              <td><a href="/product/<%= product.id %>">Ver</a></td>
            </tr>
            <% }) %>
          </table>
          <% } %>
        </div>
      </div>
      <div class="card-container-row">
        <form
          method="post"
          action="/users/history/<%= orderDetail.order.id %>/review?_method=DELETE"
        >
          <input
            type="hidden"
            name="userId"
            value="<%= orderDetail.order.userId %>"
          />
          <div class="action">
            <button class="action-button-outline">Cancelar Pedido</button>
          </div>
          <% if (locals.errors && errors.validation) { %>
          <div class="error-message text-center">
            <%= errors.validation.msg %>
          </div>
          <% } %>
        </form>
        <form
          method="post"
          action="/users/history/<%= orderDetail.order.id %>/review?_method=PUT"
        >
          <div class="action">
            <button class="action-button">Concluir Pedido</button>
          </div>
          <% if (locals.errors && errors.validation) { %>
          <div class="error-message text-center">
            <%= errors.validation.msg %>
          </div>
          <% } %>
        </form>
      </div>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
