<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <main>
      <h1><%= title %></h1>
      <form method="post" action="/users/register">
        <p>
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            id="username"
            value="<%if (locals.old && old.username) {%><%= old.username %><%}%>"
          />
            <% if (locals.errors && errors.username) { %>
            <div><%= errors.username.msg %></div>
            <% } %>
        </p>
        <p>
          <label for="email">Email:</label>
          <input
            type="text"
            name="email"
            id="email"
            value="<%if (locals.old && old.email) {%><%= old.email %><%}%>"
          />
            <% if (locals.errors && errors.email) { %>
            <div><%= errors.email.msg %></div>
            <% } %>
        </p>
        <p>
          <label for="password">Password:</label>
          <input
            type="text"
            name="password"
            id="password"
            value="<%if (locals.old && old.password) {%><%= old.password %><%}%>"
          />
            </div>
            <% if (locals.errors && errors.password) { %>
            <div><%= errors.password.msg %></div>
            <% } %>
        </p>
        <p>
          <input type="submit" value="Login" />
        </p>
      </form>
    </main>
    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
